<% content_for :content do %>
<table class='table table-bodered table-sm table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Election Date</th>
      <th>Division</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @elections.each do |election| %>
      <tr>
        <td><%= election.name %></td>
        <td><%= election['election_day'] %></td>
        <td><%= election['division'] %></td>
        <td><%= link_to "Show Election", election %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>