
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elections Portal</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="http://www.bootstrapdash.com/demo/plus/jquery/template/assets/css/demo_1/style.css" id="bootstrap-css">
    <link href="http://www.bootstrapdash.com/demo/plus/jquery/template/assets/vendors/css/vendor.bundle.base.css" id="bootstrap-css">


</head>

<body class='container-scroller'>
    <div class='container-fluid page-body-wrapper'>
        <div class="main-panel container">
            <div class="content-wrapper justify-content-center">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h4 class="card-title">Elections</h4>
                            <p class="card-description"> Details
                            </p>
                            <div class="table-responsive">
                                <%= content_for?(:content) ? yield(:content) : yield %>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</body>

</html>